replicaCount: 1
    zookeeper:
       replicaCount: 1
       persistence:
         enabled: true
         storageClass: "default"
         size: 1Gi
    persistence:
       enabled: true
       storageClass: "default"
       size: 1Gi
    service:
       type: LoadBalancer
       port: 9092
    metrics:
       kafka:
         enabled: true
       jmx:
         enabled: true
    