architecture: deployment
controller:
  replicaCount: 2
  resources:
    requests:
      memory: "128Mi"
      cpu: "150m"
    limits:
      memory: "256Mi"
      cpu: "300m"
  service:
    type: LoadBalancer
    port: 9092
    externalTrafficPolicy: Local
zookeeper:
  enabled: true
  replicaCount: 1
  persistence:
    enabled: true
    storageClass: "default"
    size: 1Gi
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "256Mi"
      cpu: "200m"
persistence:
  enabled: true
  storageClass: "default"
  size: 1Gi
service:
  type: LoadBalancer
  port: 9092
  externalTrafficPolicy: Local
metrics:
  kafka:
    enabled: false
  jmx:
    enabled: false
    resources:
      requests:
        memory: "32Mi"
        cpu: "25m"
      limits:
        memory: "64Mi"
        cpu: "50m"
kraft:
  enabled: false