replicaCount: 1

image:
  repository: ailidevacr.azurecr.io/azuredev-appservice
  tag: latest
  pullPolicy: Always
  containerPort: 8080

service:
  type: LoadBalancer
  port: 80

zookeeper:
  replicaCount: 1
  persistence:
    enabled: true
    storageClass: "default"
    size: 1Gi

persistence:
  enabled: true
  storageClass: "default"
  size: 1Gi

metrics:
  kafka:
    enabled: true
  jmx:
    enabled: true
